<!--
TO RUN "usaddress" IN THE BACKGROUND:
1) Save this .plist file in ~/Library/LaunchAgents
2) Change strings as appropriate, to reflect the current file structure:
	a) StandardErrorPath
	b) StandardOutPath
	c) WorkingDirectory
	d) ProgramArguments
2) At the command line, run:
	launchctl load ~/Library/LaunchAgents/local.usaddress.plist

TO SIMULATE A CLIENT USING THE "usaddress" SERVER WHILE IT'S RUNNING:
1) Edit code in usaddress/echo_server/socket_echo_client.py and/or usaddress/echo_server/socket_echo_client_multiplier.py, as desired
2) At the command line, run:
	python [YOUR_USADDRESS_ROOT_LOCATION]/usaddress/echo_server/socket_echo_client_multiplier.py
4) Server side should process addresses input from client

TO STOP "usaddress" RUNNING IN THE BACKGROUND:
1) Run:
	launchctl unload ~/Library/LaunchAgents/local.usaddress.plist
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>local.usaddress.plist</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/Users/jasonflorack/Code/usaddress/echo_server/logs/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/jasonflorack/Code/usaddress/echo_server/logs/stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/jasonflorack/demo</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/jasonflorack/.virtualenvs/usaddress/bin/python</string>
      <string>/Users/jasonflorack/Code/usaddress/echo_server/socket_echo_server.py</string>
    </array>

  </dict>
</plist>



